<%- include('./includes/header.ejs') %>
<!-- Dashboard Container -->
<div class="dashboard-container">
    <%- include('./includes/side-bar.ejs') %>
    <!-- Dashboard Content
    ================================================== -->
    <div class="dashboard-content-container" data-simplebar>
        <div class="dashboard-content-inner">

            <!-- Dashboard Headline -->
            <div class="dashboard-headline">
                <h3>Manage Employers</h3>
                <!-- Breadcrumbs -->
                <nav id="breadcrumbs" class="dark">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li>Manage Employers</li>
                    </ul>
                </nav>
            </div>

            <!-- Row -->
            <div class="row">

                <!-- Dashboard Box -->
                <div class="col-xl-12">
                    <div class="dashboard-box margin-top-0">

                        <!-- Headline -->
                        <div class="headline">
                            <h3><i class="icon-material-outline-supervisor-account"></i> <%= employersNumber %>
                                Employers
                            </h3>
                        </div>

                        <div class="container-fluid">
                            <main>
                                <div><%- include ("./partials/messages") %></div>
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Employer Name</th>
                                            <th>Approved</th>
                                            <th>Activate</th>
                                            <th>Deactivate</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% if (employers.length > 0) { %>
                                        <% for (let employer of employers) { %>
                                        <tr>
                                            <td><%= employer.name %></td>
                                            <td><%= employer.isEmployer %></td>
                                            <td>
                                                <form action="/activate-employer/<%= employer._id %>?_method=PUT"
                                                    method="post">
                                                    <button type="submit" class="btn btn-info">
                                                        Approve account
                                                    </button>
                                                </form>

                                            </td>
                                            <td>
                                                <form action="/deactivate-employer/<%= employer._id %>?_method=PUT"
                                                    method="post">
                                                    <button type="submit" class="btn btn-danger">
                                                        Deactivate account
                                                    </button>
                                                </form>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <% } else { %>
                                        <h1>No Employers Found!</h1>
                                        <% } %>
                                    </tbody>

                                </table>
                            </main>

                        </div>
                    </div>
                </div>

            </div>
            <!-- Row / End -->

            <%- include('./includes/footer.ejs') %>